@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --header-height: 80px;
  --footer-height: 64px;
  --sidebar-width: 220px;
  --cus-gray-light: #d1d2d3;
  --cus-gray-medium: #9a9a9d;
  --cus-gray-dark: #222529;
  --cus-black: #1a1d21;
  --cus-brown: #19171d;
  --cus-blackest: #121016;
  --cus-green: #2bac76;
  --cus-orange: #ef6c00;
  --cus-pink: #de4e26;
}

body * {
  font-family: "Maven Pro";
  color: var(--cus-gray-light);
}
